* {
  box-sizing: border-box;
}

body {
  background-image: url("https://w.wallhaven.cc/full/2e/wallhaven-2evx9g.jpg");
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 5rem;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.gameName {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

body {
  display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#markers {
  display: grid;
  width: 90vh; 
  height: 12vh;
  grid-template-columns: repeat(8, 12vh);
  gap: 1vh; 
  cursor: pointer;
 
}

#markers > div {
  height: 12vmin;
  border-width: 6vmin;
  border-style: solid;
  border-color: rgb(255, 66, 242) transparent transparent;
  transform: scale(0.7);
}

#markers > div:hover {
  transform: scale(0.9);
  transition: transform 150ms ease-in;
  border-top-color: rgb(117, 99, 255);
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 11vmin);
  grid-template-rows: repeat(6, 11vmin);
  gap: 2vmin;
  margin-top: -3vmin;
}

#board > div {
  border-radius: 50%;
  border: 0.1vmin solid rgb(255, 255, 255);
}

.button {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

.button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}


